<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/css/images/Logo/logo 2.png">
    <title>BuilderBlocks-Interior Design Solutions</title>
    <link rel="stylesheet" href="/css/styles/sti.css">
</head>
<body>
    <div class="navbar">
            <ul>
                <li><a href="/"><img src="/css/images/Logo/Logo.png" alt="" class="nav_img"></a></li>
                <li><a href="/services" class="nav_links">Services</a></li>
                <li><a href="/kitchens" class="nav_links">Kitchens</a></li>
                <li><a href="/bedrooms" class="nav_links">Bedrooms</a></li>
                <li><a href="/more" class="nav_links">Other Furnitures</a></li>
                <li><a href="/contact" class="nav_links">Contact</a></li>
            </ul>
    </div>
    <div class="for">
        <h1>Contact Us</h1>
        <form action="/test/contact" method="POST">
            <div class="hell">
            <label for="name">Name:</label>
            <input type="text"  name="name">
            </div>
            <div class="hell">
            <label for="email">Email:</label>
            <input type="email"  name="email">
            </div>
            <div class="hell">
            <label for="phone">Phone:</label>
            <input type="text" name="phone">
            </div>
            <div class="hell">
            <label for="landmark">Landmark:</label>
            <input type="text"  name="landmark">
            </div>
            <div class="hell">
            <label for="pin">Pincode:</label>
            <input type="text"  name="pin">
            </div>
            <div class="hell">
            <label for="city">City:</label>
            <input type="text"  name="city">
            </div>
            <div class="hell">
            <label for="state">State:</label>
            <input type="text"  name="state">
            </div>
            <div class="hell htt">
            <label for="comm">Query:</label>
            <div class="htto">
            <textarea name="comm" id="" cols="30" rows="10" placeholder="typehere"></textarea> 
            </div>
            </div>
            <button type="submit" style="width: 10rem;height:3rem;border-radius:100px;border:none;color:white;background:red;font-family:'lato';font-size:1.3rem;text-align:center;cursor:pointer">Submit</button>
        </form>
    </div>
    <footer>
        <div class="pot">
            <img src="/css/images/Logo/logo.jpeg" alt="">
        </div>
        <div class="content">
            <div class="secs">Copyright © 2020 BuilderBlocks AS. All rights reserved.
BuilderBlocks®,Interior Design Plans™,Storefront™ and Viseno™ are trademarks of BuilderBlocks in TS and other States.
By continuing to use this website, you consent to the use of cookies in accordance with our Cookie Policy.</div>
            <div class="sec">BuilderBlocks Decor and Furnishings Pvt. Ltd. © 2020</div>
        </div>
    </footer>
</body>
</html>