<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/css/images/Logo/logo 2.png">
    <title>BuilderBlocks-Interior Design Solutions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="navbar">
            <ul>
                <li><a href="/"><img src="/css/images/Logo/Logo.png" alt="" class="nav_img"></a></li>
                <li><a href="/services" class="nav_links">Services</a></li>
                <li><a href="/kitchens" class="nav_links">Kitchens</a></li>
                <li><a href="/bedrooms" class="nav_links">Bedrooms</a></li>
                <li><a href="/more" class="nav_links">Other Furnitures</a></li>
                <li><a href="/contact" class="nav_links">Contact</a></li>
            </ul>
        </div>
        <div class="show middle">
            <div class="slides">
                <input type="radio" name="r" id="r1">
                <input type="radio" name="r" id="r2" checked>
                <input type="radio" name="r" id="r3">
                <div class="slide s1" style="background-image: linear-gradient(to right bottom, rgba(128,128,128, 0.6), rgba(105,105,105, 0.7)), url(/css/images/kitchenstoo/kitch.jpg);background-size:cover;">
                    <h1>Our Vision</h1>
                    <h3><i class="fas fa-check-circle" style="color: black;padding-right:0.3rem"></i>To Give You The Best Designs!</h3>
                    <h3><i class="fas fa-check-circle" style="color: black;padding-right:0.3rem"></i>To Provide The Salient Design Features!</h3>
                    <h3><i class="fas fa-check-circle" style="color: black;padding-right:0.3rem"></i>To Give The Best Comfort In Your Home!</h3>
                </div>
                <div class="slide s2" style="background-image: linear-gradient(to right bottom, rgba(128,128,128, 0.6), rgba(105,105,105, 0.7)), url(/css/images/kitchenstoo/bedy.jpg);background-size:cover">         
                <h1>Welcome!</h1>
                    <h2>Various Designs At One Spot!</h2>
                    <h3>Start your home interiors journey online,
from the comfort of your home!</h3>
                </div>
                <div class="slide s3" style="background-image: linear-gradient(to right bottom, rgba(128,128,128, 0.6), rgba(105,105,105, 0.7)), url(/css/images/kitchenstoo/wary.jpg);background-size:cover">
                    <h1>Want To Update Your Home</h1>
                    <h2>We Ensure Your Values and Thoughts</h2>
                    <button><a href="contact">Contact Us!<i class="fas fa-tools"></i></a></button>
                </div>
            </div>
            <div class="navigate">
                <label for="r1" class="line"></label>
                <label for="r2" class="line"></label>
                <label for="r3" class="line"></label>
            </div>
        </div>
    </header>
    <div class="about">
        <h1>Our Policy</h1>
        <div class="about__content">
            <h2>About Home Interior Designs</h2>
            <p>At BuilderBlocks, we believe that interior design is more than great functionality and beautiful aesthetics. We aim to make your home interiors a reflection of your personality. Your home should be something that you and your family take pride in and love to spend time in. Our efficient, customized home interior designs incorporate your needs in every nook of your home, so your space meets your every requirement. Our dedicated home interior designers work with you tirelessly to tie your style with their design expertise, creating the perfect interior design plan. They will also ensure that the plan is executed using the materials of the highest standards. In addition to great interior design ideas, you can expect our unwavering support and service for years to come because all our products come with a 5 year warranty. Think we are the right fit for your journey to your new home? Get a free estimate or a book a free consultation with our interior design team for beautiful home interiors. We offer interior design ideas for living room, bedroom and kitchen. We specialize in complete modular kitchens, stunning wardrobe designs, timeless TV unit designs, and space-saving furniture among other. What’s more, we guarantee beautiful interiors delivered in 45 days or we pay you rent.</p>
            <h3>Why BuilderBlocks?</h3>
            <img src="/css/images/kitchenstoo/5.jpg" alt="">
        </div>
    </div>
    <div class="cardhead">
        <h1 class="hec">Our Designs</h1>
    <div class="carddiv">
    <div class="maincont">
        <div class="card">
            <div class="front-1">
                <h1 style="margin-top: 50%;color:white">Kitchens</h1>
            </div>
            <div class="back">
                <h1>Kitchens</h1>
                <p>Ranging from Rs.15000/-.</p>
                <button><a href="/kitchens" style="text-decoration: none;color:grey;font-family:'lato',sans-seriff;">View Kitchens</a></button>
            </div>
        </div>
    </div>
    <div class="maincont">
        <div class="card" >
            <div class="front-2">
                <h1 style="margin-top: 50%;color:white">Bedrooms</h1>
            </div>
            <div class="back" style="background-color: #28B485;">
                <h1>Bedrooms</h1>
                <p>Ranging from Rs.19000/- .</p>
                <button ><a href="/bedrooms" style="text-decoration: none;color:grey;font-family:'lato',sans-seriff;">View Bedrooms</a></button>
            </div>
        </div>
    </div>
    <div class="maincont">
        <div class="card">
            <div class="front-3">
                <h1 style="margin-top: 50%;color:white">Tables</h1>
            </div>
            <div class="back" style="background-color: #4064FC;">
                <h1>Tables</h1>
                <p>Ranging from Rs.19000/-</p>
                <button ><a href="/more" style="text-decoration: none;color:grey;font-family:'lato',sans-seriff;">View Tables</a></button>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="partners">
        <h1>Our Partners</h1>
        <div class="posy" style="margin-left: 5rem;">
        <div class="imgs" style="margin:5rem;display:flex;flex-wrap:wrap;">
            <img src="https://super.homelane.com/partner/Aapka%20Painter.jpg" alt="">
            <img src="https://super.homelane.com/partner/Aristo.jpg" alt="">
            <img src="https://super.homelane.com/partner/Capella.jpg" alt="">
            <img src="https://super.homelane.com/partner/Elica.jpg" alt="">
            <img src="https://super.homelane.com/partner/Faber.jpg" alt="">
            <img src="https://super.homelane.com/partner/Hafele.jpg" alt="">
            <img src="https://super.homelane.com/partner/Hettich%20Revised%20size-11-11-2.jpg" alt="" style="height:7rem">
            <img src="https://super.homelane.com/partner/UL.jpg" alt="">
            <img src="https://super.homelane.com/partner/Marshalls.jpg" alt="">
            <img src="https://super.homelane.com/partner/InvisibleBed.jpg" alt="">
            <div class="spec" style="margin-left: 12rem;">
            <img src="https://super.homelane.com/Everyday%20Logo1.jpg" alt="">
            <img src="https://super.homelane.com/Spitze%20Logo1.jpg" alt="">
            <img src="https://super.homelane.com/partner/welspun15720.png" alt="">
            </div>
        </div>
        </div>
    </div>
    <div class="comments">
    <h1>Our Heartful People <i class="far fa-heart" style="color:hotpink"></i></h1>
        <div class="pos">
            <div class="com">
                <img src="/css/images/kitchenstoo/user.jpg" alt="" style="width:7rem;height:7rem;border-radius:50%;">
                <div class="block">
                    <p>Tremondous work by team and hospitality</p>
                    <h2 >Mallika,Pune</h2>
                </div>
            </div>
            <div class="com">
                <img src="/css/images/kitchenstoo/user1.jpg" alt="" style="width:7rem;height:7rem;border-radius:50%;">
                <div class="block">
                <p>I'm grateful for the rockstar team that worked well</p>
                <h2>Rahul,Kochi</h2>
                </div>
            </div>
            <div class="com">
                <img src="/css/images/kitchenstoo/user2.jpg" alt="" style="width:7rem;height:7rem;border-radius:50%">
                <div class="block">
                <p>The team listened to the needs and gave us what we want</p>
                <h2>Bhavika,Bombay</h2>
                </div>
            </div>
        </div>
        <button><a href="contact">Discover Us!<i class="fas fa-tools"></i></a></button>
    </div>
    <footer>
        <div class="pot">
            <img src="/css/images/Logo/logo.jpeg" alt="">
        </div>
        <div class="content">
            <div class="secs">Copyright © 2020 BuilderBlocks AS. All rights reserved.
BuilderBlocks®,Interior Design Plans™,Storefront™ and Viseno™ are trademarks of BuilderBlocks in TS and other States.
By continuing to use this website, you consent to the use of cookies in accordance with our Cookie Policy.</div>
            <div class="sec">BuilderBlocks Decor and Furnishings Pvt. Ltd. © 2020</div>
        </div>
    </footer>
    </body>
</html>