<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/css/images/Logo/logo 2.png">
    <title>BuilderBlocks-Interior Design Solutions</title>
    <link rel="stylesheet" href="/css/styles/stil.css">
</head>
<body>
    <header class="hello">
        <div class="navbar">
            <ul>
                <li><a href="/"><img src="/css/images/Logo/Logo.png" alt="" class="nav_img"></a></li>
                <li><a href="/services" class="nav_links">Services</a></li>
                <li><a href="/kitchens" class="nav_links">Kitchens</a></li>
                <li><a href="/bedrooms" class="nav_links">Bedrooms</a></li>
                <li><a href="/more" class="nav_links">Other Furnitures</a></li>
                <li><a href="/contact" class="nav_links">Contact</a></li>
            </ul>
        </div>
    <div class="disp">
        <h1>Modular Kitchen Designs</h1>
        <input type="text" class="nav_in" placeholder="filter by" id="search">
        <div class="backo">
            <div class="pic" id="o">
                <img src="https://hlimages.homelane.com/products/13june19/9_plp-image.jpg" alt="">
                <p>Nature Bliss Straight Modular Kitchen</p>
                <button><a href="#popup">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/14_plp-image.jpg" alt="">
                <p>Citrus Mood L-Shaped Modular Kitchen</p>
                <button><a href="#two">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/11_plp-image.jpg" alt="">
                <p>Purple Passion Straight Modular Kitchen</p>
                <button><a href="#three">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/13_plp-image.jpg" alt="">
                <p>Summer Soothe Straight Modular Kitchen</p>
                <button><a href="#four">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/10_plp-image.jpg" alt="">
                <p>Passion Flower L-Shaped Modular Kitchen</p>
                <button><a href="#five">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/12_plp-image.jpg" alt="">
                <p>Sky Blue Straight Modular Kitchen</p>
                <button><a href="#six">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/6_plp-image.jpg" alt="">
                <p>Classic Blue L-Shaped Modular Kitchen</p>
                <button><a href="#seven">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/3_plp-image.jpg" alt="">
                <p>Trooper Blue L-Shaped Modular Kitchen</p>
                <button><a href="#eight">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/8_plp-image.jpg" alt="">
                <p>Dark Phoenix L-Shaped Black and Wine Red </p>
                <button><a href="#nine">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/5_plp-image.jpg" alt="">
                <p>Bumble Bee U-Shaped Modular Kitchen</p>
                <button><a href="#ten">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/7_plp-image.jpg" alt="">
                <p>Dark Envy U-Shaped Modular Kitchen</p>
                <button><a href="#leven">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/4_plp-image.jpg" alt="">
                <p>French Themed Modular Kitchen</p>
                <button><a href="#twelve">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/2_plp-image.jpg" alt="">
                <p>Trooper Blue L-Shaped Modular Kitchen</p>
                <button><a href="#thirt">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://hlimages.homelane.com/products/13june19/1_plp-image.jpg" alt="">
                <p>Carnival Red and Frosty White Theme Modular Kitchen</p>
                <button><a href="#fourt">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/kitchen/10_plp-image.jpg" alt="">
                <p>Sunny Side L-Shaped Modular Kitchen</p>
                <button><a href="#fift">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/kitchen/11_plp-image.jpg" alt="">
                <p>Orange County Straight Modular Kitchen</p>
                <button><a href="#sixt">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/kitchen/5_plp-image.jpg" alt="">
                <p>Modern Farmhouse Straight Modular Kitchen</p>
                <button><a href="#sevent">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/kitchen/6_plp-image.jpg" alt="">
                <p>Sombre Night Straight Modular Kitchen</p>
                <button><a href="#eighte">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/kitchen/7_plp-image.jpg" alt="">
                <p>Woody Wine L-Shaped Modular Kitchen</p>
                <button><a href="#nint">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/kitchen/8_plp-image.jpg" alt="">
                <p>Pop Blast L-Shaped Modular Kitchen</p>
                <button><a href="#twent">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/kitchen/19_main-image.jpg" alt="">
                <p>Transylvania L-Shaped Modular Kitchen</p>
                <button><a href="#twest">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/kitchen/16_main-image.jpg" alt="">
                <p>Coffee Beans Straight Modular Kitchen</p>
                <button><a href="#twend">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/kitchen/18_main-image.jpg" alt="">
                <p>Mundane Beauty L-Shaped Modular Kitchen</p>
                <button><a href="#twerd">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/kitchen/15_main-image.jpg" alt="">
                <p>Vintage L-Shaped Modular Kitchen</p>
                <button><a href="#twefth">View Design</a></button>
            </div>
        </div>
    </div>
</header>  
<footer>
        <div class="pot">
            <img src="/css/images/Logo/logo.jpeg" alt="">
        </div>
        <div class="content">
            <div class="secs">Copyright © 2020 BuilderBlocks AS. All rights reserved.
BuilderBlocks®,Interior Design Plans™,Storefront™ and Viseno™ are trademarks of BuilderBlocks in TS and other States.
By continuing to use this website, you consent to the use of cookies in accordance with our Cookie Policy.</div>
            <div class="sec">BuilderBlocks Decor and Furnishings Pvt. Ltd. © 2020</div>
        </div>
    </footer>  
    <div class="pop" id="popup">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/13june19/9_main-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Nature Bliss Straight Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The citrus green used in this kitchen brings nature into the home. The combination of green and white in high gloss finish gives the space an alluring, unique look.This kitchen comprises of base units, wall units and tall units</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | Straight</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="two">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/14_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Citrus Mood L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The citrus and cobble stone grey of this kitchen makes the space look sophisticated and alluring.The dark tones are forgiving of stains and spills that are bound to happen in a kitchen</p>
                <h2>Specifications</h2>
                <p>SSize | 10'X11'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="three">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/11_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Purple Passion Straight Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The berry bunch and white combo used in this kitchen is an easy choice for those looking for an ultra-chic look. Plus, you don't have to worry about making a mess thanks to the high-gloss finish</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | Straight</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="four">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/13_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Summer Soothe Straight Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The joyful colour combination in this room is sure to lift the mood of anyone who enters it. The sunflower yellow and white in a suede finish is a beautiful combination</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | Straight</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="five">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/10_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Passion Flower L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Interior lovers will love the blackcurrant and champagne white used in this kitchen. The bold print in the dado is what really sets this kitchen design apart</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="six">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/12_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Sky Blue Straight Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The celestial blue used in this kitchen is heavenly. The blue and white of the kitchen is highlighted with a high-gloss finish, making it easy to clean and try out those messy recipes</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | Straight</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="seven">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/6_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Classic Blue L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The trooper blue and white combination (in high-gloss) in this kitchen is a great twist on the classic combo. The white dado makes sure that blue is not overpowering in the space</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="eight">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/3_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Trooper Blue L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The trooper blue used in this kitchen is a statement colour that may not be for the average homeowner. Not only will the bold choice make your kitchen one-of-a-kind</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="nine">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/8_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Dark Phoenix L-Shaped Black and Wine Red</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">This acrylic kitchen is designed with a striking colour combination of black and wine red. Black is forgiving of stains and spills that are bound to happen in the kitchen</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="ten">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/5_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Bumble Bee U-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">With a stunning colour combination of pearl black and marigold yellow in high gloss, this kitchen will surely be a space that you would love to show off to your guests.</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | U-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="leven">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/7_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Dark Envy U-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The black and lime green combo in this kitchen is one that oozes style. The high-gloss finish makes sure that keeping the kitchen clean is a breeze. This kitchen comprises of base units</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | U-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twelve">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/4_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">French Themed Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">This kitchen features a beautiful trooper blue with hint of white in a high gloss finish. The blue is forgiving of stains and spills that are bound to happen in the kitchen</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="thirt">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/2_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Trooper Blue L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The trooper blue used in this kitchen is a statement colour that may not be for the average homeowner. Not only will the bold choice make your kitchen one-of-a-kind</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="fourt">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://hlimages.homelane.com/products/13june19/1_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Carnival Red and Frosty White Theme Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">With a combination of carnival red and frosty white in high-gloss finish, this kitchen is a great example of a beautiful contemporary kitchen.Most of the upper units are in white, making the space look airy and spacious</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="fift">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/kitchen/10_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Sunny Side L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">A contemporary woody kitchen made out of coloured PLPB carcass. A kitchen with a rustic feel to it has a lot of storage space, with a modern staggered design</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="sixt">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/kitchen/11_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Orange County Straight Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">A sunshine-themed straight acrylic kitchen made out of exterior PLPB carcass and MDF shutters. A basic kitchen highlighted with beautiful yellow glass makes a small kitchen stand out.</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | Straight</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="sevent">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/kitchen/5_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Modern Farmhouse Straight Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">A traditional brown kitchen made out of coloured PLPB carcass. A kitchen to keep it simple and easily accesible and not too bulky</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | Straight</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="eighte">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/kitchen/6_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Sombre Night Straight Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">A Scandinavian themed kitchen made out of coloured PLPB carcass and shutters. Accomodates necessary units for a small kitchen.</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | Straight</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="nint">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/kitchen/7_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Woody Wine L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">A modern laminate kitchen made out of exterior PLPB. A simple woody kitchen with maroon highlights to make the kitchen interesting with the required accesories</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape |L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twent">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/kitchen/8_plp-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Pop Blast L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">A Modern Laminate Kitchen made out of BWR PLY carcass. A bright kitchen with a mix of open and closed units. with all the necessary accessories.</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twest">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/kitchen/19_main-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Transylvania L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">A suede solid colour combination laminate with BWR carcass and BWR shutters.</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twend">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/kitchen/16_main-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Coffee Beans Straight Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">A dark wood theme hi-gloss kitchen with BWR carcass and BWR shutters</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | Straight</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twerd">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/kitchen/18_main-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Mundane Beauty L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">A handleless high gloss laminate kitchen with BWR carcass and BWR shutters.</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twefth">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/kitchen/15_main-image.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Vintage L-Shaped Modular Kitchen</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Small and sleek woody kitchen with a modern theme. Black granite complements the matte finish laminates fully loaded on BWR ply as carcass.</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <p>Shape | L-Shaped</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <script src="/js/kitchens.js"></script>
</body>
</html>