<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/css/images/Logo/logo 2.png">
    <title>BuilderBlocks-Interior Design Solutions</title>
    <link rel="stylesheet" href="/css/styles/stil.css">
</head>
<body>
    <header class="hello">
        <div class="navbar">
            <ul>
                <li><a href="/"><img src="/css/images/Logo/Logo.png" alt="" class="nav_img"></a></li>
                <li><a href="/services" class="nav_links">Services</a></li>
                <li><a href="/kitchens" class="nav_links">Kitchens</a></li>
                <li><a href="/bedrooms" class="nav_links">Bedrooms</a></li>
                <li><a href="/more" class="nav_links">Other Furnitures</a></li>
                <li><a href="/contact" class="nav_links">Contact</a></li>
            </ul>
        </div>
    <div class="disp">
        <h1>Entertainment Unit & Space Saving Furnitures</h1>
        <input type="text" class="nav_in" placeholder="filter by" id="search">
        <div class="backo">
            <div class="pic" id="o">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/11.jpg" alt="">
                <p>Entertainment Unit</p>
                <button><a href="#popup">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/14.jpg" alt="">
                <p>Contemporary Entertainment Wall Units For Flat Screen TV</p>
                <button><a href="#two">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/5.jpg" alt="">
                <p>Wall Mounted TV unit with Storage drawers</p>
                <button><a href="#three">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/6.jpg" alt="">
                <p>Wall Mounted TV unit design</p>
                <button><a href="#four">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/7.jpg" alt="">
                <p>TV Cabinet for Bedroom</p>
                <button><a href="#five">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/8.jpg" alt="">
                <p>TV Cabinet for Bedroom</p>
                <button><a href="#six">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/9.jpg" alt="">
                <p>TV Cabinet with Storage</p>
                <button><a href="#seven">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/10.jpg" alt="">
                <p>TV Entertainment Unit</p>
                <button><a href="#eight">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/1.jpg" alt="">
                <p>Full Length TV Entertainment Unit with Tall Unit</p>
                <button><a href="#nine">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/2.jpg" alt="">
                <p>Compact Entertainment Unit</p>
                <button><a href="#ten">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/3.jpg" alt="">
                <p>Small Entertainment Unit with Open Shelves</p>
                <button><a href="#leven">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-21c-o.jpg" alt="">
                <p>Kivaha 4-seater Coffee Table Set</p>
                <button><a href="#twelve">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-22c-o.jpg" alt="">
                <p>Cayman Coffee Table Set</p>
                <button><a href="#thirt">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-17d-o.jpg" alt="">
                <p>Altura Coffee Table With Nested Stool</p>
                <button><a href="#fourt">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-32c-o.jpg" alt="">
                <p>Floor Standing I Table</p>
                <button><a href="#fift">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-34c-o.jpg" alt="">
                <p>Queen Size Horizontal Wall Bed</p>
                <button><a href="#sixt">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-28c-o.jpg" alt="">
                <p>Queen Size Wall Mounted Bed with Storage and Sofa</p>
                <button><a href="#sevent">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-30c-o.jpg" alt="">
                <p>Bunk Bed</p>
                <button><a href="#eighte">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-25d-o.jpg" alt="">
                <p>Single Horizontal Wall Bed</p>
                <button><a href="#nint">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-31c-o.jpg" alt="">
                <p>Wall Mount I Table</p>
                <button><a href="#twent">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-26c-o.jpg" alt="">
                <p>Queen Size Vertical Wall Bed</p>
                <button><a href="#twest">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-26d-o.jpg" alt="">
                <p>Queen Size Verticle Wall Mounted Foldable Bed</p>
                <button><a href="#twend">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-29c-o.jpg" alt="">
                <p>Queen Size Vertical Wall Mounted Bed With Sofa</p>
                <button><a href="#twerd">View Design</a></button>
            </div>
            <div class="pic">
                <img src="https://super.homelane.com/ssf-4c-o.jpg" alt="">
                <p>Palermo Sofa Cum Bed</p>
                <button><a href="#twefth">View Design</a></button>
            </div>
        </div>
    </div>
</header>  
<footer>
        <div class="pot">
            <img src="/css/images/Logo/logo.jpeg" alt="">
        </div>
        <div class="content">
            <div class="secs">Copyright © 2020 BuilderBlocks AS. All rights reserved.
BuilderBlocks®,Interior Design Plans™,Storefront™ and Viseno™ are trademarks of BuilderBlocks in TS and other States.
By continuing to use this website, you consent to the use of cookies in accordance with our Cookie Policy.</div>
            <div class="sec">BuilderBlocks Decor and Furnishings Pvt. Ltd. © 2020</div>
        </div>
    </footer>  
    <div class="pop" id="popup">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/11.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Entertainment Unit</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The large wood panel of this entertainment unit is what gives it the classic, warm feel. the drawers and cupboards ensure that there is plenty of storage</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="two">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/14.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Contemporary Entertainment Wall Units For Flat Screen TV</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">If you want more than a simple entertainment unit, take a look at this interesting collage of open and closed storage in a classic cream and dark-wood combination.</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="three">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/5.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Wall Mounted TV unit with Storage drawers</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">This entertainment unit, with plenty of storage, is ideal for a large room with an expansive wall. with abundant closed storage, it's easy to keep clutter away.</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="four">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/6.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Wall Mounted TV unit design</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Functional and compact, this well-designed entertainment unit will look great in a room of any size. the three spacious handleless drawers can be used to hide away clutter</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="five">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/7.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">TV Cabinet for Bedroom</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Designed in a beautiful combination of wood-tone and off-white (in high-gloss), this simple entertainment unit will look great in your living room or bedroom. </p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="six">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/8.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">TV Cabinet for Bedroom</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Are you looking for a dresser and a tv unit for your bedroom? this unit combines both in one sleek design. the long mirror and storage below act as a compact dresser.</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="seven">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/9.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">TV Cabinet with Storage</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">If you need your entertainment unit to double as a bookshelf as well, then this piece might be the one for you. in addition to the open and closed shelves of the unit is a tall unit</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="eight">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/10.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">TV Entertainment Unit</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">If you prefer a classic, ethnic sensibility in your home, you might just love this entertainment unit. finished in a high-gloss and suede finish (in wood tones and warm colours)</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="nine">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/1.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Full Length TV Entertainment Unit with Tall Unit</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">This two-toned entertainment unit will look great in any style of interiors thanks to the simple design and subtle colour combination. the open, floating shelves and glass shutter tall unit </p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="ten">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/2.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Compact Entertainment Unit</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">For those looking for an entertainment unit that spells quiet elegance, this may be where your search ends. designed in a combination of beige and brown.</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="leven">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/products/07dec18/entertainment_unit/3.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Small Entertainment Unit with Open Shelves</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">This compact entertainment unit, in a dark-grey and light wood combination, is one that will look great in any room - no matter the size. there is plenty of open storage</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twelve">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-21c-o.jpg" alt="" class="popimg">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Kivaha 4-Seater Coffee Table</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Sturdy large coffee table with four cushioned stools *This product will be procured and delivered from Urban Ladder.<span style="color: red;">₹19,999</span></p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="thirt">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-22c-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Cayman Coffee Table Set</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">The Cayman coffee table is the perfect excuse to catch up with friends over a board game and end More*This product will be procured and delivered from Urban Ladder.<span style="color: red;">₹19,999</span></p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="fourt">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-17d-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Altura Coffee Table With Nested Stool</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Gorgeously minimalist, the two stools echo the same design details of two-tone finish, and subtl More*This product will be procured and delivered from Urban Ladder.<span style="color: red;">₹19,999</span></p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="fift">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-32c-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Floor Standing I Table</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Available in any BuilderBlocks standard colour laminates. Core material is Commercial Ply for the Table top and MDF for the rest. </p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="sixt">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-34c-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Queen Size Horizontal Wall Mounted Folding Bed</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Core material is MDF for the wall frame and bed base. Bed box is Commercial Ply. Hydraulic mechanism makes opening and closing the bed as easy as a refrigerator</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="sevent">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-28c-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Queen Size Wall Mounted Bed with Storage and Sofa</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Core material is MDF for the wall frame and bed base. Bed box is Commercial Ply. Hydraulic mechanism makes opening and closing the bed as easy as a refrigerator</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="eighte">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-30c-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Bunk Bed</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Core material is MDF for the wall frame and bed base. Bed box is Commercial Ply. Hydraulic mechanism makes opening and closing the bed as easy as a refrigerator</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="nint">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-25d-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Single Horizontal Wall Bed</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Core material is MDF for the wall frame and bed base. Bed box is Commercial Ply. Hydraulic mechanism makes opening and closing the bed as easy as a refrigerator</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twent">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-31c-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Wall Mount I Table</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Core material is MDF for the wall frame and bed base. Bed box is Commercial Ply. Hydraulic mechanism makes opening and closing the bed as easy as a refrigerator</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twest">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-26c-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Queen Size Verticle Wall  Foldable Bed</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Core material is MDF for the wall frame and bed base. Bed box is Commercial Ply. Hydraulic mechanism makes opening and closing the bed as easy as a refrigerator</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twend">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-26d-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Queen Size Verticle Wall Mounted Foldable Bed</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Core material is MDF for the wall frame and bed base. Bed box is Commercial Ply. Hydraulic mechanism makes opening and closing the bed as easy as a refrigerator</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twerd">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-29c-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">    
Queen Size Vertical Wall Mounted Bed With Sofa</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Core material is MDF for the wall frame and bed base. Bed box is Commercial Ply. Hydraulic mechanism makes opening and closing the bed as easy as a refrigerator</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <div class="pop" id="twefth">
        <div class="pop_cont">
            <div class="popleft">
                <img src="https://super.homelane.com/ssf-4c-o.jpg" alt="" class="popimg" style="width:120%">
            </div>
            <div class="popright">
                <a href="#blur" class="helo">&times;</a>
                <h2 style="margin-bottom:2rem;margin-top:-1rem;">Palermo Sofa Cum Bed</h2>
                <p class="poptext" style="margin-bottom:2rem;margin-top:-1rem;">Core material is MDF for the wall frame and bed base. Bed box is Commercial Ply. Hydraulic mechanism makes opening and closing the bed as easy as a refrigerator</p>
                <h2>Specifications</h2>
                <p>Size | 13' X 12'</p>
                <button><a href="/contact">Contact for design</a></button>
            </div>
        </div>
    </div>
    <script src="/js/kitchens.js"></script>
</body>
</html>