<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/css/images/Logo/logo 2.png">
    <title>Thank You!</title>
    <style>
        body{
            background-color: #F7F7F7;
            font-family: "lato";
            position: absolute;
            top: 30%;
            text-align: center;
        }
        button{
            width: 20rem;
            height:2rem;
            border-radius: 100px;
            border:none;
            background-color: red;
        }
        button a{
            text-decoration: none;
            font-size: 1.2rem;
            font-family:"lato";
            color:white;
        }
    </style>
</head>
<body>
    <h1>We Have Successfully Recieved Your Response!Our Executive Will Work With You Shortly.</h1>
    <h2>Thank You For Spending Your Time With BuilderBlocks.</h2>
    <button><a href="/">Shop More!</a></button>
</body>
</html>