<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/css/images/Logo/logo 2.png">
    <title>BuilderBlocks-Interior Design Solutions</title>
    <link rel="stylesheet" href="/css/styles/styleio.css">
</head>
<body>
    <header>
        <div class="navbar">
            <ul>
                <li><a href="/"><img src="/css/images/Logo/Logo.png" alt="" class="nav_img"></a></li>
                <li><a href="/services" class="nav_links">Services</a></li>
                <li><a href="/kitchens" class="nav_links">Kitchens</a></li>
                <li><a href="/bedrooms" class="nav_links">Bedrooms</a></li>
                <li><a href="/more" class="nav_links">Other Furnitures</a></li>
                <li><a href="/contact" class="nav_links">Contact</a></li>
            </ul>
        </div>
        <div class="show middle">
            <div class="slides">
                <div class="slide s1" style="background-image: linear-gradient(to right bottom, rgba(128,128,128, 0.6), rgba(105,105,105, 0.7)), url(/css/styles/imgs/test.jpg);background-size:cover;">
                    <h1 style="text-align: center;margin-top:2rem;font-size:3rem;color:white">Our Plans and Services.</h1>
                    <h2 style="text-align: center;font-size:2rem;color:white">We will work for you.</h2>
                    <p><i class="fas fa-check-circle" style="color: black;padding-right:0.3rem"></i>Get High Quality Designs</p>
                    <p><i class="fas fa-check-circle" style="color: black;padding-right:0.3rem"></i>Great Accomodation</p>
                    <p><i class="fas fa-check-circle" style="color: black;padding-right:0.3rem"></i>Great Prices and Customer Service</p>
                </div>
            </div>
        </div>
    </header>
        <div class="process">
            <h1 style="margin-top: -2rem;margin-bottom:3rem;">Our Working Process!</h1>
            <div class="center">
            <div class="steps">
                <div class="step">
                    <i class="far fa-user"></i>
                    <h1>Discover</h1>
                    <p>Create your dream home, fitting your lifestyle, with the help of our top designers.  </p>
                </div>
                <div class="step">
                    <i class="fas fa-pencil-ruler"></i>
                    <h1>Design</h1>
                    <p>Enjoy unwavering support and services from our skilled team for up to 5 years.</p>
                </div>
                <div class="step">
                    <i class="fas fa-house-user"></i>
                    <h1>Move In</h1>
                    <p>Get your chosen products installed in 45 days, or we pay you rent. That’s a promise!</p>
                </div>
            </div>
            </div>
            <button><a href="contact">Learn More!</a></button>
        </div>
        <div class="also">
            <h1>We also work on </h1>
            <div class="things">
                <div class="thingo">
                    <img src="/css/styles/imgs/fa.jpg" alt="">
                    <p>False Ceilings</p>
                </div>
                <div class="thingo">
                    <img src="/css/styles/imgs/pa.jpg" alt="">
                    <p>Painting</p>
                </div>
                <div class="thingo">
                    <img src="/css/styles/imgs/cr.jpg" alt="">
                    <p>Crockery Unit</p>
                </div>
                <div class="thingo">
                    <img src="/css/styles/imgs/wa.jpg" alt="">
                    <p>Wall Designing</p>
                </div>
                <div class="thingo">
                    <img src="/css/styles/imgs/ho.jpg" alt="">
                    <p>Entartainment Unit</p>
                </div>
                <div class="thingo">
                    <img src="/css/styles/imgs/re.jpg" alt="">
                    <p>Renowations</p>
                </div>
            </div>
        </div>
        <div class="warc">
            <h1>Your Trust and Comfort!</h1>
            <div class="stepss">
                <div class="stepy">
                    <i class="fas fa-clipboard-check"></i>
                    <h2>5-Year Warranty</h2>
                    <p>All our products come with a 5-year warranty for any manufacturing defects.</p>
                </div>
                <div class="stepy">
                    <i class="fas fa-wrench"></i>
                    <h2>45-day Installation</h2>
                    <p>Create your dream home, fitting your lifestyle, with the help of our top designers.</p>
                </div>
                <div class="stepy">
                    <i class="fas fa-user-friends"></i>
                    <h2>900+ Expert Designers</h2>
                    <p>Get your chosen products installed in 45 days, or we pay you rent. That’s a promise!</p>                
                </div>
                <div class="stepy">
                    <i class="fas fa-screwdriver"></i>
                    <h2>Post-Installation Service</h2>
                    <p>Enjoy unwavering support and services from our skilled team for up to 5 years.</p>
                </div>
            </div>        
        </div>
        <div class="conct">
            <h1>Connect With Us!</h1>
            <div class="cn">
                <a href="https://twitter.com/explore"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    <footer>
        <div class="pot">
            <img src="/css/images/Logo/logo.jpeg" alt="">
        </div>
        <div class="content">
            <div class="secs">Copyright © 2020 BuilderBlocks AS. All rights reserved.
BuilderBlocks®,Interior Design Plans™,Storefront™ and Viseno™ are trademarks of BuilderBlocks in TS and other States.
By continuing to use this website, you consent to the use of cookies in accordance with our Cookie Policy.</div>
            <div class="sec">BuilderBlocks Decor and Furnishings Pvt. Ltd. © 2020</div>
        </div>
    </footer>
    
</body>
</html>